* {
    box-sizing: border-box;
}
body {
    background: rgba(212,228,239,1);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 8%, rgba(148,183,210,1) 70%, rgba(134,174,204,1) 83%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(8%, rgba(212,228,239,1)), color-stop(70%, rgba(148,183,210,1)), color-stop(83%, rgba(134,174,204,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 8%, rgba(148,183,210,1) 70%, rgba(134,174,204,1) 83%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 8%, rgba(148,183,210,1) 70%, rgba(134,174,204,1) 83%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 8%, rgba(148,183,210,1) 70%, rgba(134,174,204,1) 83%, rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 8%, rgba(148,183,210,1) 70%, rgba(134,174,204,1) 83%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}
.wrapper {
    text-align: center;
    position: relative;
    top: 5vh;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .08rem;
}
form label {
    display: block;
    margin: 2vh auto;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
form input {
    display: block;
    margin: 3vh auto;
    font-size: 1.5rem; 
    width: 100%;
    padding: .5vh 0;
    font-family: 'Roboto', sans-serif;
}
form > div {
    margin: 10vh auto;
}
form > button[type="submit"] {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    padding: 2vh 5vw;
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
    border: 1px solid #552ea5;
    outline: none;
    cursor: pointer;
    letter-spacing: .05rem;
    background: transparent;
    width: 50%;
}

/* Gradient button effect on hover */
form > button[type="submit"]:hover {
    color: white;
    background: linear-gradient(270deg, #ff7b3f, #f3b660, #e3e826, #a2e25a, #4de6e4, #4dabe6, #eb74f9, #f24ba3);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 6s linear forwards;
    -moz-animation: AnimationName 6s linear forwards;
    -o-animation: AnimationName 6s linear forwards;
    animation: AnimationName 6s linear forwards;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wrapper > a[href="/register"] {
    position: relative;
    top: 10vh;
    font-size: 1.8rem;
    padding: 5vh 0;
}
.wrapper > a[href="/register"]:visited {
    text-decoration: none;
    color: black;
}